@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.logo {
  font-size: 3em;
  font-weight: 900;
}

.navbar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 5em;
  margin-top: 0;
  border-bottom: 5px solid;
  border-image: linear-gradient(45deg, #7145c2, #d76d77, #ffaf7b) 1;
}

.navbar li {
  list-style-type: none;
}

.navbar-buttons {
  display: flex;
  font-size: 1em;
}

.navbar-buttons li {
  text-align: center;
  padding: 0.5em 1em;
  margin-left: 5em;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.navbar-buttons li:hover {
  color: white;
  background-color: rgb(0, 0, 0);
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 5em 5em 0 5em;
}

.hero-msg {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  flex: 0 1 40%;
}

.hero-msg h2 {
  font-size: 2.5vw;
  font-weight: 300;
  line-height: 180%;
}

.hero-img {
  flex: 0 1 60%;
  display: flex;
  align-items: center;
}

.hero-img img {
  width: 100%;
}

.advice-btn {
  width: 50%;
  height: 55px;
  border: none;
  background-color: #ffffff;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  overflow: hidden;
}

.advice-btn:hover {
  color: white;
  background-color: #000000;
}

.btn-bubble {
  position: relative;
  width: 0;
  height: 0;
  background-color: white;
  animation: bubble 1s linear;
  z-index: 2;
}

@keyframes bubble {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100px;
    height: 100px;
  }
}

.main-footer {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.confirmed,
.recovered {
  font-size: 1em;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 20%;
}

.advice-container {
  padding: 7em 5em;
  display: flex;
  flex-flow: row wrap;
}

.advice-list {
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 100%;
  padding-left: 0;
}

.advice-list li {
  padding: 1em;
  list-style-type: none;
  font-size: 1.5em;
  line-height: 180%;
  transition: background-color 0.2s ease-out;
}

.advice-list li:hover {
  background-color: #fff1e7;
}

.divider {
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, #7145c2, #d76d77, #ffaf7b);
  opacity: 0.5;
}

.advice-list header {
  font-size: 1.2em;
  font-weight: 900;
}

.advice-list p {
  font-size: 0.8em;
}

.advice-list article {
  flex: 0 1 80%;
}

.advice-list li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 190px;
  border: 2px solid black;
  border-radius: 50%;
  transition: border-radius 0.2s linear, background-color 0.2s linear;
}

.icon-container:hover {
  border-radius: 30%;
  background-color: #ffaf7b;
}

.icon-container img {
  width: 90px;
}

.stats-container {
  padding: 5em 5em;
  display: flex;
  flex-flow: column wrap;
}

.dropdown-container label,
.stats header {
  font-weight: 900;
  font-size: 1.7em;
}

.stats {
  margin-top: 3em;
}

.stats p {
  font-weight: 300;
  font-size: 3.5em;
  margin: 0 0 1em 0;
}

#countries {
  border: none;
  font-weight: 900;
  font-size: 1.7em;
  cursor: pointer;
}

#countries:focus {
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("./assets/icons/down-arrow.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  margin-right: 2rem;
  padding: 0.2em 2em 0.2em 0em;
}

.dropdown-container {
  width: 500px;
}

#countries select {
  display: none; /*hide original SELECT element: */
}

.footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: white;
  background-color: #222222;
  border-radius: 110px 110px 0 0;
  padding: 2em 0;
}

.footer-divider {
  width: 30%;
  height: 1px;
  background-image: linear-gradient(45deg, #7145c2, #d76d77, #ffaf7b);
  background-size: 300%;
  background-position: right;
  animation: divider-animation 5s linear infinite;
}

@keyframes divider-animation {
  50% {
    background-position: left;
  }
}

.footer span {
  font-weight: 900;
}

.footer blockquote {
  font-size: 4.5vw;
  font-family: "Yeseva One", Arial;
}

.footer img {
  width: 2em;
  transition: transform 1s ease-in-out;
}

.footer img:hover {
  transform: scale(1.2,1.2);
}

.ayushman-git {
  color: white;
  text-decoration: none;
}

.ayushman-git:hover {
  color: #222222;
  background-color: rgb(255, 255, 255);
}
